@font-face {
	font-family: "vivaldi";
	src: url("./../font/vivaldi.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Josefin_Sans";
	src: url("./../font/JosefinSans-SemiBold.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Josefin_Sans_bold";
	src: url("./../font/JosefinSans-Bold.ttf");
	font-style: normal;
}
