$main-color: #f7e5d6;
$black-color: black;
$cart-color: #c7845b;
$contact-color: #c77f57;
$white-color: #fff;
$header-phone-color: #e0a380;
$txt-slide-color: #592e0f;
$hot-color: #f7e5d6;
$line-color: #ee6433;
$btn-color: #ea8025;
$service-color: #ecd8d8;
$gray-color: #666464;
$blog-color: #f7e5d6;
$footer-color: #5e3e29;
